.lh--1_5 {
    line-height: 1.5rem;
}

.lh--1_75 {
    line-height: 1.75rem;
}

.lh--2 {
    line-height: 2rem;
}

.lh--2_25 {
    line-height: 2.25rem;
}

.lh--2_5 {
    line-height: 2.5rem;
}

.lh--2_75 {
    line-height: 2.75rem;
}

.lh--3 {
    line-height: 3rem;
}